<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
            <h5 class="white-text">Puppy Play Date</h5>
            <p class="grey-text text-lighten-4">Find your dog's new best friend.</p>
            </div>
            <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="match.html">Find a Match</a></li>
                <li><a class="grey-text text-lighten-3" href="login.html">Login</a></li>
            </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
    <div class="container">
    © 2019 Team 5
    {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
    </div>
    </div>
</footer>